* {
  font-family: 'Play', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(../img/truck_bg.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.navbar.navbar-inverse {
  margin-bottom: 0;
  background: rgb(48, 58, 71);
  /*border: 3px solid rgb(48, 58, 71);*/
}

.navbar a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.navbar-inverse .navbar-nav>li:hover {
  background: #61758e;
}

.navbar-inverse .navbar-nav>li:nth-of-type(2):hover {
  background: #47303A;
}

.navbar-inverse .navbar-nav>li:nth-of-type(3):hover {
  background: #30473D;
}

.navbar-inverse .navbar-nav>li:nth-of-type(4):hover {
  background: #473D30;
}

.hero h1 {
  font-size: 96px;
  font-family: 'Yellowtail', cursive;
  margin-left: 48px;
  margin-top: 0;
  padding-top: 32px;
  text-align: left;
}

.hero h3 {
  font-size: 36px;
  font-family: 'Yellowtail', cursive;
  margin: 0 20%;
  text-align: left;
}

.down_arrow span {
  color: #fff;
  font-size: 24px;
  margin-top: 40%;
  margin-bottom: 5%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.hero_info {
  background: #1b2128;
  background: linear-gradient(163deg,#1b2128,#61758e);
  color: #fff;
  padding: 48px 88px;
  text-align: center;
}

.hero_info span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 88px;
  margin-top: 64px;
  margin-bottom: 56px;
}

.hero_info p {
  font-size: 24px;
  text-align: left;
}

.hero_info ul {
  text-align: left;
}

.hero_info li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
}

.hero_info p:last-child {
  margin-bottom: 88px;
}

.services {
  text-align: left;
  color: #fff;
  background: rgba(71, 48, 58, 0.5);
}

.services h2 {
  font-size: 88px;
  padding: 48px;
  margin-top: 0;
}

.services_content {
  background: linear-gradient(40deg,#47303A,#1b2128);
  height: 800px;
}

.gallery {
  text-align: left;
  color: #fff;
  background: rgba(48, 71, 61, 0.5);
}

.gallery h2 {
  font-size: 88px;
  padding: 48px;
  margin-top: 0;
}

.gallery_content {
  background: linear-gradient(200deg,#30473D,#1b2128);
  height: 800px;
}

.contact {
  text-align: left;
  color: #fff;
  background: rgba(71, 61, 48, 0.5);
}

.contact h2 {
  font-size: 88px;
  padding: 48px;
  margin-top: 0;
}

.contact_content {
  background: linear-gradient(120deg,#473D30,#1b2128);
  height: 800px;
}







.floater {
  width: 220px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #333;
  padding: 4px 2px;
}

.floater:hover {
  background-color: #fff;
  color: #ccc;
}

.floater a {
  color: #333;
  padding: 4px;
}

.floater a:hover {
  color: #6cb7ad;
  text-decoration: none;
}

.floater h3 {
  margin: 12px 12px 4px 12px;
}

.floater span {
  font-size: 8px;
  font-weight: lighter;
  margin-right: 4px;
}

.floater span:last-child {
  font-size: 24px;
}

.remove {
  cursor: pointer;
}
